.thumbnail > img,
.thumbnail a > img,
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}



.thumbnail > img,
.thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #337ab7;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
}

.media-object.img-thumbnail {
    max-width: none;
}


caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.thumbnail .caption {
    padding: 9px;
    color: #333;
}

.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
    padding-right: 15px;
    padding-left: 15px;
}

.carousel-caption .btn {
    text-shadow: none;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
}

