@using IoTWeb.Areas.Client.Hubs
@{
    ViewBag.Title = "Home Page";
}
@section styles
{
}
<div class="row col-md-10 col-md-offset-1" style="margin-top:10px">
    <div class="col-md-6">
        @Html.Hidden("Get", Url.Action("GetIoTData", "Home", new { Area = "" }))
    </div>
    <div class="col-md-6">
        <div id="calendar">

        </div>
        <div>
            @Html.Partial("_TempGauge")
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
    <!-- FullCalendar v3.8.1 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css" rel="stylesheet" media="print"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>

    

    <script src="https://code.jscharting.com/latest/jscharting.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script type="text/javascript">
        let temp = 0;
        let humi = 0;
        let gas = 0;
        let distance = 0;

        $(function () {
            //Proxy created on the fly
            var iot = $.connection.ioTDataHub;

            //Declare a function on the hub so the server can invoke it
            iot.client.displayIoTData = function () {
                getData();
            };
            //Start the connection

            $.connection.hub.start();
            getData();
        });
       
        function getData() {
            $.ajax({
                url: $("#Get").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    $.each(data.listData, function (i, model) {
                        switch (model.Topic) {
                            case "home_dht_h":
                                temp = model.Value
                                break;
                            case "home_dht_t":
                                humi = model.Value
                                break;
                            case "MQ5_01":
                                gas = model.Value
                                break;
                            case "US_01":
                                distance = model.Value
                                break;
                        }
                    })
                }
            })

        }


        $(document).ready(function () {
            $("#calendar").fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                eventLimit: true, // allow "more" link when too many events
                eventLimitText: "More", //sets the text for more events
                timezone:'local',
                height: 410,
                displayEventTime: true,
                events: '@Url.Action("Calendar","Home", new { Area = "Client" })',
            });
        })
    </script>
}