@{
    ViewBag.Title = "Home Page";
}
@section styles
{
}
<div class="row col-md-10 col-md-offset-1" style="margin-top:10px">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <div id="calendar">

        </div>
        <div>
            @Html.Partial("_TempGauge")
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
    <!-- FullCalendar v3.8.1 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css" rel="stylesheet" media="print"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#calendar").fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                eventLimit: true, // allow "more" link when too many events
                eventLimitText: "More", //sets the text for more events
                timezone:'local',
                height: 410,
                displayEventTime: true,
                events: '@Url.Action("Calendar","home", new { Area = "Client" })',
            });
        })
    </script>
}