<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/IoTWeb</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>http://localhost/</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/IoTWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Buliding_ManagementEntities2" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IoTWeb.Models.Buliding_ManagementEntities2, IoTWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Buliding_ManagementEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IoTWeb.Models.Buliding_ManagementEntities, IoTWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IoTWeb.Models.ApplicationDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IoTWeb.Models.ApplicationDbContext, IoTWeb" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IndependentEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IoTWeb.Models.IndependentEntities, IoTWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SignalrConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.35.160;Initial Catalog=Buliding_Management;User ID=sa;Password=P@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SignalrConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=192.168.35.160;database=Buliding_Management;User ID=sa;Password=P@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Buliding_ManagementEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Buliding_ManagementEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IndependentEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SignalrConnection-Web.config Connection String" />
  </ItemGroup>
</Project>