
@{
    ViewBag.Title = "light";
}
<style>
    .allpage {
        margin: 0px auto;
    }
    #Button1 {
        background-color: yellow;
        width: 240px;
        height: 100px;
        margin: 0px auto;
        align-content: center;
        
    }
</style>
<h1>目前晴時多雲</h1>
<h3>電燈遠端開關</h3>
<div class="allpage">
    <h4>客廳</h4>
    <input id="Button1" type="button" value="開" onclick="window.alert('客廳電燈已開啟')" />
    <input id="Button1" type="button" value="關" onclick="window.alert('客廳電燈已關閉')" />
    <h4>主臥</h4>
    <input id="Button1" type="button" value="開" onclick="window.alert('主臥電燈已開啟')" />
    <input id="Button1" type="button" value="關" onclick="window.alert('主臥電燈已關閉')" />
    <h4>客房</h4>
    <input id="Button1" type="button" value="開" onclick="window.alert('客房電燈已開啟')" />
    <input id="Button1" type="button" value="關" onclick="window.alert('客房電燈已關閉')" />
    <h4>廚房</h4>
    <input id="Button1" type="button" value="開" onclick="window.alert('客房電燈已開啟')" />
    <input id="Button1" type="button" value="關" onclick="window.alert('客房電燈已關閉')" />
    <h4>廁所</h4>
    <input id="Button1" type="button" value="開" onclick="window.alert('廁所電燈已開啟')" />
    <input id="Button1" type="button" value="關" onclick="window.alert('廁所電燈已關閉')" />
</div>


    


