
@{
    ViewBag.Title = "PublicSpace";
}

<style>
</style>
<h2>公共場地預約</h2>
<div class="meeting">
    <input id="Radio1" type="radio" name="mettingAB" /> <label>會議室A:  </label>
    <input type="date" name="bday"> <input type="time" name="usr_time"> ~ <input type="time" name="usr_time"><br />

    <br />
    <input id="Radio1" type="radio" name="mettingAB" /> <label>會議室B:  </label>
    <input type="date" name="bday"> <input type="time" name="usr_time"> ~  <input type="time" name="usr_time"><br />

    <br />
    <input id="Radio1" type="radio" name="mettingAB" /> <label>會議室C:  </label>
    <input type="date" name="bday"> <input type="time" name="usr_time"> ~  <input type="time" name="usr_time"><br />

    <br />
    <input id="Radio1" type="radio" name="mettingAB" /> <label>大廳:     </label>
    <input type="date" name="bday"> <input type="time" name="usr_time"> ~  <input type="time" name="usr_time"><br />
    <br /><br />
    <input id="Button1" type="button" value="確定申請" onclick="window.alert('申請成功')" />

</div>


