@section styles
    {
    <style>
        .parkingLot {
            border: 3px solid black;
            width: 100px;
            height: 200px;
            font-size: large;
            text-align: justify;
            font-weight: 600;
            text-justify: auto;
            margin:0px 8px;
        }
        .row {
            margin: 20px 0px;
        }
        .pimg {
            filter: grayscale(30%);
            width: 80px;
            visibility:hidden;
        }
    </style>
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col" style="background-color:bisque;margin:auto;width:1110px">
        <h2 id="remain" style="text-align:center">Index</h2>

    </div>

@Html.Hidden("Get", Url.Action("Get", "Parking", new { Area = "Client" }))
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div style="display:flex" class="row">
            <div id="1" class="parkingLot" style="text-align:center">
                1    <img src="~/img/q.png" class="pimg" />
            </div>
            <div id="2" class="parkingLot" style="text-align:center">
                2    <img src="~/img/q.png" class="pimg" />
            </div>
            <div id="3" class="parkingLot" style="text-align:center">
                3    <img src="~/img/q.png" class="pimg" />
            </div>
            <div id="4" class="parkingLot" style="text-align:center">
                4    <img src="~/img/q.png" class="pimg" />
            </div>
            <div id="5" class="parkingLot" style="text-align:center">
                5    <img src="~/img/q.png" class="pimg" />
            </div>
            <div id="6" class="parkingLot" style="text-align:center">
                6    <img src="~/img/q.png" class="pimg" />
            </div>
            <div id="7" class="parkingLot" style="text-align:center">
                7    <img src="~/img/q.png" class="pimg" />
            </div>
            <div id="8" class="parkingLot" style="text-align:center">
                8    <img src="~/img/q.png" class="pimg" />
            </div>
            <div id="9" class="parkingLot" style="text-align:center">
                9    <img src="~/img/q.png" class="pimg" />
            </div>
            <div id="10" class="parkingLot" style="text-align:center">10<img src="~/img/q.png" class="pimg" /></div>
        </div>

        <div style="display:flex" class="row">
            <div id="11" class="parkingLot" style="text-align:center">11<img src="~/img/q.png" class="pimg" /></div>
            <div id="12" class="parkingLot" style="text-align:center">12<img src="~/img/q.png" class="pimg" /></div>
            <div id="13" class="parkingLot" style="text-align:center">13<img src="~/img/q.png" class="pimg" /></div>
            <div id="14" class="parkingLot" style="text-align:center">14<img src="~/img/q.png" class="pimg" /></div>
            <div id="15" class="parkingLot" style="text-align:center">15<img src="~/img/q.png" class="pimg" /></div>
            <div id="16" class="parkingLot" style="text-align:center">16<img src="~/img/q.png" class="pimg" /></div>
            <div id="17" class="parkingLot" style="text-align:center">17<img src="~/img/q.png" class="pimg" /></div>
            <div id="18" class="parkingLot" style="text-align:center">18<img src="~/img/q.png" class="pimg" /></div>
            <div id="19" class="parkingLot" style="text-align:center">19<img src="~/img/q.png" class="pimg" /></div>
            <div id="20" class="parkingLot" style="text-align:center">20<img src="~/img/q.png" class="pimg" /></div>
        </div>

        <div style="display:flex" class="row">
            <div id="21" class="parkingLot" style="text-align:center">21<img src="~/img/q.png" class="pimg" /></div>
            <div id="22" class="parkingLot" style="text-align:center">22<img src="~/img/q.png" class="pimg" /></div>
            <div id="23" class="parkingLot" style="text-align:center">23<img src="~/img/q.png" class="pimg" /></div>
            <div id="24" class="parkingLot" style="text-align:center">24<img src="~/img/q.png" class="pimg" /></div>
            <div id="25" class="parkingLot" style="text-align:center">25<img src="~/img/q.png" class="pimg" /></div>
            <div id="26" class="parkingLot" style="text-align:center">26<img src="~/img/q.png" class="pimg" /></div>
            <div id="27" class="parkingLot" style="text-align:center">27<img src="~/img/q.png" class="pimg" /></div>
            <div id="28" class="parkingLot" style="text-align:center">28<img src="~/img/q.png" class="pimg" /></div>
            <div id="29" class="parkingLot" style="text-align:center">29<img src="~/img/q.png" class="pimg" /></div>
            <div id="30" class="parkingLot" style="text-align:center">30<img src="~/img/q.png" class="pimg" /></div>
        </div>
    </div>

</div>

@section scripts
    {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            //proxy created on the fly
            var parking = $.connection.parkingHub;

            // Declare a function on the job hub so the server can invoke it
            parking.client.show = function () {        //show對應到StatusHub的StatusShow方法內的context.Clients.All.show();
                getData();
            };

            // Start the connection
            $.connection.hub.start();
            getData();

            //TODO
            //$('div[class="parkingLot"]').hover(function () {
            //    getDetail();

            //});
        });

        var lot = $(".parkingLot");
        var tbl = $('#tblInfo');
        var img = $('.pimg')
        function getData() {
            $.ajax({
                url: $("#Get").val(),
                type: "GET",
                datatype: "json",
            }).done(function (data) {
                img.css("visibility", "hidden");
                tbl.empty();
                lot.css("background-color", "transparent");
                if (data.listParking.length >= 30) {
                    $("#remain").html(`目前無停車位`)
                } else {
                    $("#remain").html('<i class="fa fa - car" aria-hidden="true"></i>'+`尚有${30 - data.listParking.length}個汽車停車位`)
                }

                $.each(data.listParking, function (i, model) {
                    $(`#${model.ParkingNum}>img`).css("visibility","visible");
                })
            })
        }
    </script>

}