@model IEnumerable<IoTWeb.Models.StaffDataTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
    {
    <style>
        .col {
            border: 1px solid black;
            float: left;
            margin: -1px 0 0 -1px;
        }
    </style>
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
}

<div class="col-md-8 col-md-offset-2" style="margin-top:10px" id="guard">
    <div style="background-color:darkgoldenrod; font-size:36px">
        <i class="fa fa-address-card" aria-hidden="true" style="margin:5px"></i> 保全人員一覽
    </div>
</div>

@section scripts
    {
        <script>
            $(document).ready(function () {
                $.getJSON('@Url.Action("getStaff","Staff",new { Area="Client"})')
                    .done(function (datas) {
                        console.log(datas)
                        $.each(datas, function (i, data) {
                            let img = "";
                            if (data.img == null) {
                                img = '@Url.Content("~/img/head.png")';
                            } else {
                                img = "data: image/jpeg;base64," + arrayBufferToBase64(data.img)
                            }
                            $('#guard').append(`<div class="col col-md-4 text-center" style="height:300px; padding-top:5px"><img src="${img}" class="rounded mx-auto d-block img-thumbnail" style="width:250px;"></img ><div>保全姓名：${data.StaffName}</div><div>保全編號：${data.StaffID}</div></div></div>`)
                               
                        })
                    })

            })
            function arrayBufferToBase64(buffer) {
                let binary = '';
                let bytes = new Uint8Array(buffer);
                let len = bytes.byteLength;
                for (let i = 0; i < len; i++) {
                    binary += String.fromCharCode(bytes[i]);
                }
                return window.btoa(binary);
            }
        </script>
    }