@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "帳號錯誤";
}
<div class="container">
    <div class="row">
        <h1 class="text-danger">帳號錯誤</h1>
        <p>此帳號未繫結住戶，請聯絡管理員</p>
    </div>
</div>
