
@{
    ViewBag.Title = "light";
}
<style>
    .allpage {
        margin: 0px auto;
    }
    #Button1 {
        background-color: yellow;
        width: 240px;
        height: 100px;
        margin: 0px auto;
        align-content: center;
        
    }
</style>
<h2>目前晴時多雲</h2>
<label>電燈遠端開關</label>
<div class="allpage">
    <input id="Button1" type="button" value="開" onclick="window.alert('電燈已開啟')"/>
    <input id="Button1" type="button" value="關" onclick="window.alert('電燈已關閉')" />
</div>


    


