
@{
    ViewBag.Title = "temperature";
}
<style>
    .allpage {
        margin: 0px auto;
        width: 500px;
        background-color: cadetblue;
        
    }

    #Button1 {
        background-color: yellow;
        width: 240px;
        height: 100px;
        margin: 0px auto;
        align-content: center;
        
    }
    #Button2 {
        background-color: yellow;
        width: 480px;
        height: 100px;
        margin: 0px auto;
        align-content: center;
       
    }
    .lable26 {
        font-size: 1.2CM;
        text-align: center;
    }

</style>
<h2>目前溫度 23℃,濕度 60%</h2>
<div class="allpage">
    <div>
        <lable class="lable26">26℃</lable>
    </div>

    <input id="Button1" type="button" value="溫度調高" />
    <input id="Button1" type="button" value="溫度調低" />
    <input id="Button1" type="button" value="定時" />
    <input id="Button1" type="button" value="風速" />
    <input id="Button2" type="button" value="確定" onclick="window.alert('設定成功')" />

</div> 
    
