

<div id="mmm">
    <div id="calendar" style="background-color:#AFEEEE">
    </div>
    <div>
        @Html.Partial("_TempGauge")
    </div>
</div>

@*http://iot106farm.azurewebsites.net/streserve/streserve.html*@

@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
    <!-- FullCalendar v3.8.1 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css" rel="stylesheet" media="print"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>

    <script>
        function get_calendar_height() {
            return $(window).height() - 150;
        }
        $(document).ready(function () {
            $(window).resize(function () {
                $('#calendar').fullCalendar('option', 'height', get_calendar_height());
            });
            $("#calendar").fullCalendar({
                header: {
                    left: null,
                    center: 'prev title next',
                    right: 'today',
                },              
                //eventLimit: true, // allow "more" link when too many events
                //eventLimitText: "More", //sets the text for more events
                timezone:'local',
                height:get_calendar_height,
                displayEventTime: true,
                displayEventEnd: true,
                timeFormat: 'H:mm',               
                views: {month: { titleFormat: 'YYYY 年 MMMM 月' }},
                monthNames: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
                monthNamesShort: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
                dayNames: ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                dayNamesShort: ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                buttonText: { today: '今天', month: '月', week: '周', day: '日' },               
                events: '@Url.Action("Calendar", "EquipReservations", new { Area = "Client",id=ViewBag.id})',
            });
        })

    </script>
    <style>
        #mmm {
            margin: 10px 80px 50px 80px;
        }
        
    </style>
}