@*<script type="text/javascript" src="../jsc/icons/material/maps/all.js"></script>*@
@*<script type="text/javascript" src="../jsc/modules/types.js"></script>*@

<div class="container">
    <div class="row" style="height:500px">
        <div id="chartDiv1" class="col-sm-4" style="width: 240px;height: 280px;"></div>
        <div id="chartDiv2" class="col-sm-4" style="width: 240px;height: 280px;"></div>
        <div id="chartDiv3" class="col-sm-4" style="width: 240px;height: 280px;"></div>
    </div>
</div>


